 /*primer elemento seccion principal index**/

 .container1{
     display: grid;
     grid-template-columns: 30% 30% 30%;
     grid-template-areas: "card1 card2 card3";
     justify-content: space-evenly;
     align-content: center;
     align-items: center;
    height: 700px;
     

     &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;
        justify-content: space-evenly;
        transition: all 500ms;

        &:hover{
            background-color: $color-two;
        }
        & img{
            align-self: center;
            width: 350px;
            height: 246px;
        }
        
     }

     &__card h2{
        font-size: 1.7rem;
         text-align: center;
         font-weight: 600;
         padding-bottom: 1rem;
         margin-top: 3rem;
     }
     &__card p{
        padding: 1.5rem 1.5rem 0rem 1.5rem;
        font-size: 1rem;
    }
     }

.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}


  /**segundo elemento seccion principal index**/

  .container2{
    height: auto;
    width: 100%;
    display: flex !important;
    flex-direction: column;
   justify-content: center;
   background-color: $color-one;
   padding-bottom: 4rem;

   h2{
    padding: 2rem;
    font-weight: 700;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

    &__carousel{
        display: flex;
        align-self: center;
        width: 80%;
      }
}


.boton__card{
    @extend .boton__container;
    & button{
        background-color:$color-boton;
    }  
}

/**Estilos Carousel**/

.carousel__subtitles{

    h5{
        background-color:rgba(233, 229, 229, 0.3);
        width: 35rem;
        color:rgb(0, 0, 0);
        text-shadow: 1px 1px 2px rgb(153, 152, 152);
        margin: 0 auto;
       
        padding-top: 0.4rem;
    }
    p{
        background-color:rgba(233, 229, 229, 0.3);
        width: 35rem;
        color:rgb(0, 0, 0); 
        font-weight: 400;
        text-shadow: 1px 1px 2px rgb(153, 152, 152);
        margin: 0 auto;
        padding-bottom: 0.3rem;
    }
}

/**MD index**/
@media screen and (max-width:992px){
    .container1{
        display: grid;
        grid-template-columns: 70%;
        grid-template-areas: "card1" 
                              "card2" 
                             "card3";
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
       height: auto; 
       margin-top: 3rem 0rem 0rem 2rem;}

       .carousel__subtitles{
        h5{
            display: none;
        }
        p{
           display: none; 
        }
}
 }

 /**MOBILE-FIRST INDEX*/
 @media screen and (max-width:600px){
    .back_img{
        width: 100%;
    }

    .secppal{
        display: flex; 
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        height: 200px;
        text-align: center;
        &__parrafo{
            display: none;
            font-size: 2.5vw; 
         }
         &__titulo{
            font-size: 1.5rem;
            padding: 2rem;
            width: 100%;
         }
     }
     .container1{
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "card1" 
                             "card2" 
                             "card3";
        justify-content: space-evenly;
        align-content:space-between;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 8rem;

        &__card h2{
            font-size: 1rem;  
         }
         &__card p{
            font-size: 1rem;
        }
        }
    
        .container2{
            height: auto;
            display: flex;
            flex-direction: column;
           justify-content: center;
        }
 }