 /**formulario pagina contacto**/
 .sec__contact{
    display: grid;
    grid-template-columns:  45% 45%;
    grid-template-areas: "imagen form"
                          "team  jobs";
    justify-content: space-evenly;
    margin: 2rem 0rem 2.5rem 0rem;

    .form__contact form{
        display: flex;
        flex-direction: column;
        width:100%;
        font-size: 1rem;
    }
    .form__contact{
        padding: 0rem 2.5rem 0.5rem 2.5rem;
    }
    
    .form__contact form input{
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        font-size: 1rem;
    }
    
    .input{
        border-style: none;
        width: 14rem;
        height: 2.5rem;
        align-self: center;
        transition: 500ms;
        border-radius: 0.3rem;
    
        &:hover{
            background-color:#6e90ad;
            color: beige;
            cursor: pointer;
        }
    }

    .image__form img{ 
        width: 100%;
        animation-name: aparecer;
        animation-duration: 2s;
    }

    .team{
        padding-top: 6rem;
        animation-name: aparecer;
        animation-duration: 2s;

        img{
            width: 100%;
        }
     }
   
     .jobs{
        padding-top: 6rem; 
        margin-bottom: 2rem;
    
        .form-cv{
            border-style: none;
            
        }}

}


@keyframes aparecer {
    0%{
        opacity: 0;
    }

    100%{
        opacity:1;
    }
}



/* XS CONTACTO*/
@media screen and (max-width:600px){
.sec__contact{
    display: grid;
    grid-template-columns:  100%;
    grid-template-areas: "imagen" 
                          "form"
                          "team"
                          "jobs";

    .form__contact{
        padding-top: 3rem;
    }

    .jobs{
        padding: 0;
    }
}



}

/**MD CONTACTO**/
@media screen and (max-width:992px){
    .sec__contact{
        display: grid;
        grid-template-columns: 90%;
        grid-template-areas: "imagen" 
                              "form"
                              "team"
                              "jobs";
        justify-content: space-evenly;

        .form__contact{
            padding-top: 3rem;
        }

    .image__form{ 
        max-width: 100%;
        
        & img{
            width: 100%;
        }

    .jobs{
        padding: 0;
        }
    }

    .team{
        max-width: 100%;
    
    img{
        width: 100%;
    }
    }

 
    
        }
    }

