$general-font: Montserrat;
$color-one: #D5DBED;
$color-two:#b4d1bc;
$color-boton:#797c92;

/*Extend de Boton*/

.boton__container{
    display: flex;
    justify-content: center;

    & button{
        width: 19rem;
        height: 2.6rem;
        border-radius: 0.3rem;
        border-style: none;
        transition: all 500ms;
    }
    
    button:hover{
        box-shadow: 1px 2px 3px 0px rgb(192, 190, 190);
        background-color: white;
        border: 2px solid $color-boton;
    }
   
    & a{
        display: block;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-weight: 600;
    }
    & a:hover{
        color: #383838;
    }
    
    }
